
<% if @current_user %>
  <h1>Bienvenue <%= @current_user.name %>!</h1>
  <%= form_tag "/users/login", method: :delete do %>
    <input type="submit" value="Se déconnecter" />
  <% end %>
<% else %>
  <h1>Bienvenue visiteur anonyme!</h1>
  <a href="/users/login">Se connecter</a>
<% end %>
